{% if inventory_hostname == ansible_play_batch[0]  %}
cluster-init: true
{% else %}
server: https://{{ k3s_service_host }}:6443
{% endif %}

tls-san:
  - {{ k3s_service_host }}

token: {{ k3s_token }}

secrets-encryption: true

flannel-backend: "none"
disable:
  - coredns
  - servicelb
  - local-storage
  - traefik
  - metrics-server
disable-kube-proxy: true
disable-network-policy: true
disable-helm-controller: true
